In [2]:
import pandas as pd

### National Survey on Drug Use and Health 2002 to 2014

https://www.icpsr.umich.edu/web/RCMD/search/studies?start=0&sort=score%20desc%2CTITLE_SORT%20asc&CLASSIF_FACET=RCMD.V.&ARCHIVE=RCMD&PUBLISH_STATUS=PUBLISHED&TIMEPERIOD_NEW=%5B2012%20TO%202022%5D&rows=50&q=Behavioral%20Risk%20Factor%20Surveillance%20System

In [8]:
drug_2012 = pd.read_stata('34933-0001-Data.dta', convert_categoricals=False) #2012 example

In [9]:
#contain race and sex column

In [10]:
drug_2012.shape

(55268, 3120)

In [11]:
drug_2012

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,IIEMPSTY,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,ANALWT_C,VESTR,VEREP
0,1,50886467,2,4,4,991,9991,91,91,91,...,1,1,99,9,9,2,2,1275.60,30054,2
1,2,13766883,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,2,2,5191.07,30031,1
2,3,17772877,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,3,3,419.74,30056,2
3,4,45622817,1,99,99,13,9999,99,2,93,...,1,1,2,1,1,2,2,1449.30,30054,1
4,5,17239390,1,99,99,11,9999,99,4,93,...,1,1,1,1,1,1,1,15344.29,30012,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55263,55264,54947473,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,1,1,1289.36,30032,2
55264,55265,67706608,2,4,4,991,9991,91,91,91,...,9,9,99,9,9,2,1,116.92,30050,2
55265,55266,47284524,2,99,99,991,9991,91,91,91,...,1,1,2,1,1,1,1,1276.95,30018,1
55266,55267,32935928,1,99,99,13,9999,99,1,4,...,1,1,1,1,1,2,2,8072.38,30030,2
55267,55268,10816634,1,99,99,18,9999,99,4,93,...,3,3,1,3,3,1,1,1016.92,30002,2

In [12]:
drug_2013 = pd.read_stata('35509-0001-Data.dta', convert_categoricals=False)

In [13]:
drug_2013.shape

(55160, 3141)

In [14]:
drug_2013

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,MAIIN002,ANALWT_C,VESTR,VEREP
0,1,48694667,1,99,99,19,2012,7,1,1,...,1,4,1,1,2,2,2,4398.40,30017,1
1,2,88530883,1,99,99,14,9999,99,2,93,...,1,4,1,1,1,1,2,1419.19,30052,2
2,3,33251077,1,99,99,14,9999,99,1,2,...,1,99,9,9,3,3,2,14052.62,30028,1
3,4,37814127,1,99,99,16,9999,99,4,93,...,1,4,1,1,1,1,2,10848.18,30055,2
4,5,18762590,1,99,99,14,9999,99,4,93,...,1,1,1,1,2,2,2,5651.73,30013,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55155,55156,13675473,2,99,99,991,9991,91,91,91,...,1,2,1,1,3,3,2,679.36,30003,1
55156,55157,49609908,1,99,99,16,9999,99,4,93,...,1,1,1,1,2,2,2,2296.28,30057,2
55157,55158,81795924,2,99,99,991,9991,91,91,91,...,1,4,1,1,3,3,2,17180.64,30026,1
55158,55159,17198338,2,4,4,991,9991,91,91,91,...,9,99,9,9,1,1,2,3104.06,30051,2
55159,55160,55989934,2,99,99,991,9991,91,91,91,...,1,1,1,1,3,3,2,3232.99,30037,2

In [15]:
drug_2014 = pd.read_stata('36361-0001-Data.dta', convert_categoricals=False)

In [16]:
drug_2014.shape

(55271, 3148)

In [18]:
drug_2014

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,II2EMST4,PRXRETRY,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,GQTYPE2
0,1,85314767,1,99,99,16,9999,99,4,93,...,1,99,2,2,2,2,8587.828634,40025,2,-9
1,2,16240983,1,99,99,16,9999,99,1,1,...,1,99,1,1,2,2,4260.686570,40041,1,-9
2,3,95206287,2,99,99,991,9991,91,91,91,...,1,99,2,2,2,2,874.478772,40010,1,-9
3,4,91546127,2,99,99,991,9991,91,91,91,...,1,99,1,1,2,2,4816.381147,40019,2,-9
4,5,43902390,2,99,99,991,9991,91,91,91,...,1,99,1,1,2,2,18967.391778,40016,2,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55266,55267,45599573,1,99,99,16,9999,99,2,93,...,1,99,3,3,2,2,2432.946375,40029,2,-9
55267,55268,61882708,1,99,99,16,9999,99,1,8,...,1,99,1,2,2,2,8125.732635,40047,2,-9
55268,55269,41188134,1,99,99,10,9999,99,4,93,...,1,99,1,1,2,2,5432.465433,40024,2,-9
55269,55270,73734028,1,99,99,18,9999,99,1,1,...,1,99,2,3,2,2,2857.480123,40023,2,-9
55270,55271,23910145,1,99,99,20,9999,99,4,93,...,1,99,1,1,2,2,20703.167431,40001,1,-9

0         5
1        16
2        10
3        10
4        17
         ..
55263    11
55264     3
55265    10
55266    15
55267    15
Name: AGE2, Length: 55268, dtype: int16