In [5]:
import pandas as pd
import seaborn as sns

In [15]:
data = pd.read_csv('data/health.csv')
data = data.drop(columns = ['Unnamed: 0', 'index'])
data.head()

,SNRLGSVC,SNRLGIMP,SNRLDCSN,SNRLFRND,YEAR,CASEID,Tabacco_Flag,Alcohol_Flag,Marijunana_Flag,Marijuana_Only_Flag,...,svrl_days_depressed,lifetime_mde,pst_yr_mde,CATAG6,HEALTH,IRSEX,IRMARIT,EDUCCAT2,NEWRACE2,EMPSTATY
0,6-24,Agree,Agree,Agree,2010,1,1,1,1,1,...,1.0,1.0,1.0,A-18-25,H_Very_good,Male,Not_Married,Some_college,Black/Afr_Am,E_full_time
1,3-5,Disagree,Disagree,Strongly Disagree,2010,2,1,1,1,1,...,0.0,1.0,1.0,A-18-25,H_Excellent,Female,Married,Some_college,White,E_full_time
2,99,99,99,99,2010,3,0,1,1,1,...,0.0,1.0,0.0,A-12-17,H_Good,Female,Not_Married,Edu_youth,Hispanic,E_Other
3,1-2,Agree,Agree,Disagree,2010,4,1,1,0,0,...,0.0,0.0,1.0,A-18-25,H_Fair,Female,Not_Married,Less_than_high_school,White,E_Other
4,6-24,Strongly Agree,Strongly Agree,Agree,2010,5,1,0,0,0,...,1.0,1.0,1.0,A-50-64,H_Fair,Female,Divorced_Separated,High_school_graduate,White,E_Unemployed

### Create Suicide Risk

- plan1: think(1), plan(2), attempt(3) : doesn't work out, attempt doesn't ensure plan, and plan doesnt ensure thinking: for people who actually tried, half of them didn't have any plan, and some of them havent thought about killing themselves: something we could put into the slide as an interesting finding (might include some graphs as well)

- plan 2: think(1), think+plan(2), think+plan+attempt(3), but what about those who are attempt only, or plan only, or attempt+think?

- plan 3: think (+1), plan (+2), attempt (+3)

In [9]:
suic = data[['suic_thought_pst_12month', 'suic_thought_pst_yr', 'suic_plan', 'suic_attempt']]
suic

        suic_thought_pst_12month  suic_thought_pst_yr  suic_plan  suic_attempt
0                            1.0                  0.0        0.0           0.0
1                            1.0                  0.0        0.0           0.0
2                            1.0                  0.0        0.0           0.0
3                            1.0                  0.0        0.0           0.0
4                            1.0                  0.0        0.0           0.0
...                          ...                  ...        ...           ...
280320                       1.0                  0.0        0.0           0.0
280321                       0.0                  1.0        1.0           0.0
280322                       1.0                  0.0        0.0           0.0
280323                       1.0                  0.0        0.0           0.0
280324                       1.0                  0.0        0.0           0.0

[280325 rows x 4 columns]

In [10]:
suicide_risk = suic['suic_thought_pst_yr'] + 2*suic['suic_plan'] + 3*suic['suic_attempt']
suicide_risk.value_counts()

0.0    262867
1.0     11561
3.0      2781
2.0      1369
6.0      1312
4.0       420
5.0        15
Name: count, dtype: int64

In [11]:
data = data.assign(suicide_risk = suicide_risk)
data = data.drop(columns = ['YEAR', 'Age_First_Use', 'Year_First_Use', 
                            'CPN_Meth_Flag', 'Any_Drug_Past_Year', 'Any_Drug_Past_Month'])

In [12]:
data = data[data['SNRLGSVC'] != '99']
data = data[data['SNRLGIMP'] != '99']
data = data[data['SNRLDCSN'] != '99']
data = data[data['SNRLFRND'] != '99']
data = data[data['Sell_Illegal_Drugs'] != '97']
data = data[data['Sell_Illegal_Drugs'] != '94']

In [13]:
map_col = {'SNRLGSVC':'RELIG_SERVICES_12month', 'SNRLGIMP':'RELIG_IMPORTANT', 
           'SNRLDCSN':'RELIG_influ_decision', 'SNRLFRND': 'friend_SHARE_REL', 
           'CATAG6':'age'}
data = data.rename(columns=map_col)

In [14]:
data.to_csv('new_health.csv')