In [2]:
import pandas as pd
import numpy as np

In [99]:
drug_df_2010 = pd.read_stata('data_2010.dta', convert_categoricals=False)
drug_df_2011 = pd.read_stata('data_2011.dta', convert_categoricals=False)
drug_df_2012 = pd.read_stata('data_2012.dta', convert_categoricals=False)
drug_df_2013 = pd.read_stata('data_2013.dta', convert_categoricals=False)
drug_df_2014 = pd.read_stata('data_2014.dta', convert_categoricals=False)

## Drugs

In [100]:
drug_2010 = drug_df_2010[['CASEID', "TOBFLAG", "ALCFLAG", "MRJFLAG", "MJOFLAG", "COCFLAG", "CRKFLAG", "HERFLAG", "HALFLAG",
                      "INHFLAG", "ANLFLAG", "TRQFLAG", "STMFLAG", "CPNSTMFG", "MTHFLAG", "SEDFLAG", "SUMFLAG",
                        "SUMYR", "SUMMON", "SUMAGE","SUMYFU", "IEMFLAG"]]
drug_2010.loc[:, "YEAR"] = np.repeat([2010], len(drug_2010))
drug_2011 = drug_df_2010[['CASEID', "TOBFLAG", "ALCFLAG", "MRJFLAG", "MJOFLAG", "COCFLAG", "CRKFLAG", "HERFLAG", "HALFLAG",
                        "INHFLAG", "ANLFLAG", "TRQFLAG", "STMFLAG", "CPNSTMFG", "MTHFLAG", "SEDFLAG", "SUMFLAG",
                        "SUMYR", "SUMMON", "SUMAGE","SUMYFU", "IEMFLAG"]]
drug_2011.loc[:, "YEAR"] = np.repeat([2011], len(drug_2011))
drug_2012 = drug_df_2012[['CASEID',  "TOBFLAG", "ALCFLAG", "MRJFLAG", "MJOFLAG", "COCFLAG", "CRKFLAG", "HERFLAG", "HALFLAG",
                       "INHFLAG", "ANLFLAG", "TRQFLAG", "STMFLAG", "CPNSTMFG", "MTHFLAG", "SEDFLAG", "SUMFLAG",
                       "SUMYR", "SUMMON", "SUMAGE","SUMYFU", "IEMFLAG"]]
drug_2012.loc[:, "YEAR"] = np.repeat([2012], len(drug_2012))
drug_2013 = drug_df_2010[['CASEID', "TOBFLAG", "ALCFLAG", "MRJFLAG", "MJOFLAG", "COCFLAG", "CRKFLAG", "HERFLAG", "HALFLAG",
                        "INHFLAG", "ANLFLAG", "TRQFLAG", "STMFLAG", "CPNSTMFG", "MTHFLAG", "SEDFLAG", "SUMFLAG",
                        "SUMYR", "SUMMON", "SUMAGE","SUMYFU", "IEMFLAG"]]
drug_2013.loc[:, "YEAR"] = np.repeat([2013], len(drug_2013))
drug_2014 = drug_df_2010[['CASEID', "TOBFLAG", "ALCFLAG", "MRJFLAG", "MJOFLAG", "COCFLAG", "CRKFLAG", "HERFLAG", "HALFLAG",
                        "INHFLAG", "ANLFLAG", "TRQFLAG", "STMFLAG", "CPNSTMFG", "MTHFLAG", "SEDFLAG", "SUMFLAG",
                        "SUMYR", "SUMMON", "SUMAGE","SUMYFU", "IEMFLAG"]]
drug_2014.loc[:, "YEAR"] = np.repeat([2014], len(drug_2014))

C:\Users\lanab\anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\lanab\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [101]:
drug_2010 = drug_2010.rename({"TOBFLAG": "Tabacco_Flag","ALCFLAG": "Alcohol_Flag", "MRJFLAG": "Marijunana_Flag", "MJOFLAG": "Marijuana_Only_Flag",
                              "COCFLAG": "Cocaine_Flag", "CRKFLAG": "Crack_Flag","HERFLAG": "Herion_Flag", "HALFLAG": "Hallcinogens_Flag", "INHFLAG": "Inhalants_Flag",
                             "ANLFLAG": "Painkiller_Flag", "TRQFLAG": "Tranquilizer_Flag", "STMFLAG": "Stimulant Flag", "CPNSTMFG": "CPN_Meth_Flag",
                              "MTHFLAG": "Meth_Flag", "SEDFLAG": "Sedatives Flag","SUMFLAG": "Any_Drug_Flag", "SUMYR": "Any_Drug_Past_Year", "SUMMON": "Any_Drug_Past_Month",
                              "SUMAGE": "Age_First_Use", "SUMYFU": "Year_First_Use", "IEMFLAG": "Drug_Not_Marijunana"}, axis = 1)
drug_2011 = drug_2011.rename({"TOBFLAG": "Tabacco_Flag","ALCFLAG": "Alcohol_Flag", "MRJFLAG": "Marijunana_Flag", "MJOFLAG": "Marijuana_Only_Flag",
                              "COCFLAG": "Cocaine_Flag", "CRKFLAG": "Crack_Flag","HERFLAG": "Herion_Flag", "HALFLAG": "Hallcinogens_Flag", "INHFLAG": "Inhalants_Flag",
                              "ANLFLAG": "Painkiller_Flag", "TRQFLAG": "Tranquilizer_Flag", "STMFLAG": "Stimulant Flag", "CPNSTMFG": "CPN_Meth_Flag",
                              "MTHFLAG": "Meth_Flag", "SEDFLAG": "Sedatives Flag","SUMFLAG": "Any_Drug_Flag", "SUMYR": "Any_Drug_Past_Year", "SUMMON": "Any_Drug_Past_Month",
                              "SUMAGE": "Age_First_Use", "SUMYFU": "Year_First_Use", "IEMFLAG": "Drug_Not_Marijunana"}, axis = 1)
drug_2012 = drug_2012.rename({"TOBFLAG": "Tabacco_Flag","ALCFLAG": "Alcohol_Flag", "MRJFLAG": "Marijunana_Flag", "MJOFLAG": "Marijuana_Only_Flag",
                             "COCFLAG": "Cocaine_Flag", "CRKFLAG": "Crack_Flag","HERFLAG": "Herion_Flag", "HALFLAG": "Hallcinogens_Flag", "INHFLAG": "Inhalants_Flag",
                             "ANLFLAG": "Painkiller_Flag", "TRQFLAG": "Tranquilizer_Flag", "STMFLAG": "Stimulant Flag", "CPNSTMFG": "CPN_Meth_Flag",
                             "MTHFLAG": "Meth_Flag", "SEDFLAG": "Sedatives Flag","SUMFLAG": "Any_Drug_Flag", "SUMYR": "Any_Drug_Past_Year", "SUMMON": "Any_Drug_Past_Month",
                             "SUMAGE": "Age_First_Use", "SUMYFU": "Year_First_Use", "IEMFLAG": "Drug_Not_Marijunana"}, axis = 1)
drug_2013 = drug_2013.rename({"TOBFLAG": "Tabacco_Flag","ALCFLAG": "Alcohol_Flag", "MRJFLAG": "Marijunana_Flag", "MJOFLAG": "Marijuana_Only_Flag",
                              "COCFLAG": "Cocaine_Flag", "CRKFLAG": "Crack_Flag","HERFLAG": "Herion_Flag", "HALFLAG": "Hallcinogens_Flag", "INHFLAG": "Inhalants_Flag",
                              "ANLFLAG": "Painkiller_Flag", "TRQFLAG": "Tranquilizer_Flag", "STMFLAG": "Stimulant Flag", "CPNSTMFG": "CPN_Meth_Flag",
                              "MTHFLAG": "Meth_Flag", "SEDFLAG": "Sedatives Flag","SUMFLAG": "Any_Drug_Flag", "SUMYR": "Any_Drug_Past_Year", "SUMMON": "Any_Drug_Past_Month",
                              "SUMAGE": "Age_First_Use", "SUMYFU": "Year_First_Use", "IEMFLAG": "Drug_Not_Marijunana"}, axis = 1)
drug_2014 = drug_2014.rename({"TOBFLAG": "Tabacco_Flag","ALCFLAG": "Alcohol_Flag", "MRJFLAG": "Marijunana_Flag", "MJOFLAG": "Marijuana_Only_Flag",
                              "COCFLAG": "Cocaine_Flag", "CRKFLAG": "Crack_Flag","HERFLAG": "Herion_Flag", "HALFLAG": "Hallcinogens_Flag", "INHFLAG": "Inhalants_Flag",
                              "ANLFLAG": "Painkiller_Flag", "TRQFLAG": "Tranquilizer_Flag", "STMFLAG": "Stimulant Flag", "CPNSTMFG": "CPN_Meth_Flag",
                              "MTHFLAG": "Meth_Flag", "SEDFLAG": "Sedatives Flag","SUMFLAG": "Any_Drug_Flag", "SUMYR": "Any_Drug_Past_Year", "SUMMON": "Any_Drug_Past_Month",
                              "SUMAGE": "Age_First_Use", "SUMYFU": "Year_First_Use", "IEMFLAG": "Drug_Not_Marijunana"}, axis = 1)

In [102]:
drug = pd.concat([drug_2010, drug_2011, drug_2012, drug_2013, drug_2014])

In [103]:
drug

,CASEID,Tabacco_Flag,Alcohol_Flag,Marijunana_Flag,Marijuana_Only_Flag,Cocaine_Flag,Crack_Flag,Herion_Flag,Hallcinogens_Flag,Inhalants_Flag,...,CPN_Meth_Flag,Meth_Flag,Sedatives Flag,Any_Drug_Flag,Any_Drug_Past_Year,Any_Drug_Past_Month,Age_First_Use,Year_First_Use,Drug_Not_Marijunana,YEAR
0,1,1,1,1,1,0,0,0,0,0,...,0,0,0,1,0,0,16,2005,0,2010
1,2,1,1,1,1,0,0,0,0,0,...,0,0,0,1,0,0,14,1998,0,2010
2,3,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,14,2009,0,2010
3,4,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,991,9999,0,2010
4,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,991,9999,0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57308,57309,1,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,18,2008,0,2014
57309,57310,1,1,1,0,0,0,0,0,0,...,0,0,0,1,0,0,18,1999,1,2014
57310,57311,1,1,1,0,1,0,0,1,1,...,0,0,0,1,0,0,20,1981,1,2014
57311,57312,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,1,11,1976,0,2014
57312,57313,1,1,1,0,0,0,0,1,0,...,0,0,0,1,0,0,15,2003,1,2014

## Crime

In [125]:
crime_2010 = drug_df_2010[['CASEID', "SNYSTOLE", "SNYSELL", "BOOKED", "LOCJAIL"]]
crime_2010.loc[:, "YEAR"] = np.repeat([2010], len(crime_2010))
crime_2011 = drug_df_2011[['CASEID', "SNYSTOLE", "SNYSELL", "BOOKED", "LOCJAIL"]]
crime_2011.loc[:, "YEAR"] = np.repeat([2011], len(crime_2011))
crime_2012 = drug_df_2012[['CASEID', "SNYSTOLE", "SNYSELL", "BOOKED", "LOCJAIL"]]
crime_2012.loc[:, "YEAR"] = np.repeat([2012], len(crime_2012))
crime_2013 = drug_df_2013[['CASEID', "SNYSTOLE", "SNYSELL", "BOOKED", "LOCJAIL"]]
crime_2013.loc[:, "YEAR"] = np.repeat([2013], len(crime_2013))
crime_2014 = drug_df_2014[['CASEID', "SNYSTOLE", "SNYSELL", "BOOKED", "LOCJAIL"]]
crime_2014.loc[:, "YEAR"] = np.repeat([2014], len(crime_2014))

crime = pd.concat([crime_2010, crime_2011, crime_2012, crime_2013, crime_2014])
crime

C:\Users\lanab\anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\lanab\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

       CASEID  SNYSTOLE  SNYSELL  BOOKED  LOCJAIL  YEAR
0           1         1        1       2        0  2010
1           2         1        1       2        0  2010
2           3        99       99       2        0  2010
3           4         1        1       2        0  2010
4           5         1        1       1        0  2010
...       ...       ...      ...     ...      ...   ...
55266   55267         1        1       2        0  2014
55267   55268         1        1       1        0  2014
55268   55269         1        1       2        0  2014
55269   55270         1        1       2        0  2014
55270   55271         1        1       2        0  2014

[281409 rows x 6 columns]

In [126]:
replace = {
"SNYSTOLE_replace" : {1: "0", 2: "1-2", 3:"3-5", 4: "6-9", 5: ">=10"}, #85:bad data; 89: LEGITIMATE SKIP; 94:don't know; 97:refused; 98:blank; 99:skip
"SNYSELL_replace" : {1: "0", 2: "1-2", 3:"3-5", 4: "6-9", 5: ">=10"}, #85:bad data; 89: LEGITIMATE SKIP; 94:don't know; 97:refused; 98:blank; 99:skip
"BOOKED_replace" : {1: "Yes", 2: "No"}, #3: Yes LOGICALLY ASSIGNED; 85:bad data; 94:don't know; 97:refused; 98:blank;
"LOCJAIL_replace" : {0:"No/Unknown", 1: "Yes"}
}


for col in crime.columns:
    
    if (col != "YEAR"):
        if (col != "CASEID"):
            crime[col] = crime[col].replace(replace[col + "_replace"])

        
crime = crime.rename({"SNYSTOLE":'Ever_Steal_50', "SNYSELL": 'Sell_Illegal_Drugs', 
               "BOOKED":"Ever_Booked_Arrested", "LOCJAIL":"Drug_or_Alc_Past_year"},axis=1)

SNYSTOLE
SNYSELL
BOOKED
LOCJAIL

In [127]:
# short versions for the column names
steal = "Ever_Steal_50"
sell = "Sell_Illegal_Drugs"
booked = "Ever_Booked_Arrested"

#Sample values from the observed values to fill the missing values
steal_not_missing = crime[(crime[steal] != 85) & (crime[steal] != 94) & (crime[steal] != 97) 
                          & (crime[steal] != 98) & (crime[steal] != 99) & (crime[steal] != 89)]
sell_not_missing = crime[(crime[sell] != 85) & (crime[sell] != 94) & (crime[sell] != 97) & 
                         (crime[sell] != 98) & (crime[sell] != 99) & (crime[sell] != 89)]
booked_not_missing = crime[(crime[booked] != 85) & (crime[booked] != 94) & (crime[booked] != 97) & 
                           (crime[booked] != 98) & (crime[booked] != 3)]

fill_values_steal = np.random.choice(steal_not_missing[steal], crime.shape[0]-steal_not_missing.shape[0])
fill_values_sell = np.random.choice(steal_not_missing[sell], crime.shape[0]-sell_not_missing.shape[0])
fill_values_booked = np.random.choice(booked_not_missing[booked], crime.shape[0]-booked_not_missing.shape[0])

#fill the missing values
steal_missing = (crime[steal] == 85) | (crime[steal] == 94) | (crime[steal] == 97) | (crime[steal] == 98) | (crime[steal] == 99) | (crime[steal] == 89)
sell_missing = (crime[sell] == 85) | (crime[sell] == 94) | (crime[sell] == 97) | (crime[sell] == 98) | (crime[sell] == 99) | (crime[sell] == 89)
booked_missing = (crime[booked] == 85) | (crime[booked] == 94) | (crime[booked] == 97) | (crime[booked] == 98) | (crime[booked] == 3)


crime.loc[steal_missing, steal] = fill_values_steal
crime.loc[sell_missing, sell] = fill_values_sell
crime.loc[booked_missing, booked] = fill_values_booked

crime

,CASEID,Ever_Steal_50,Sell_Illegal_Drugs,Ever_Booked_Arrested,Drug_or_Alc_Past_year,YEAR
0,1,0,0,No,No/Unknown,2010
1,2,0,0,No,No/Unknown,2010
2,3,0,0,No,No/Unknown,2010
3,4,0,0,No,No/Unknown,2010
4,5,0,0,Yes,No/Unknown,2010
...,...,...,...,...,...,...
55266,55267,0,0,No,No/Unknown,2014
55267,55268,0,0,Yes,No/Unknown,2014
55268,55269,0,0,No,No/Unknown,2014
55269,55270,0,0,No,No/Unknown,2014
55270,55271,0,0,No,No/Unknown,2014

## Demographics

In [19]:
demographics_dict = {
'EMPSTATY_dic' : {1: 'E_full_time', 
                2: 'E_part_time', 
                3: 'E_Unemployed', 
                4: 'E_Other', 
                5: 'E_youth'},
'NEWRACE2_dic' : {1: 'White', 
                2: 'Black/Afr_Am', 
                3: 'Native_Am/AK_Native', 
                4: 'Native_HI/Other_Pac_Isl', 
                5: 'Asian', 
                6: 'more_than_one_race', 
                7: 'Hispanic'},
'EDUCCAT2_dic' : {1: 'Less_than_high_school', 
                2: 'High_school_graduate', 
                3: 'Some_college', 
                4: 'College_graduate', 
                5: 'Edu_youth'},
'IRMARIT_dic' : {1: 'Married', 
               2: 'Widowed', 
               3: 'Divorced_Separated', 
               4: "Not_Married"},
'IRSEX_dic' : {1: 'Male', 2: 'Female'},
'HEALTH_dic' : {1: 'H_Excellent', 2: 'H_Very_good', 3: 'H_Good', 4: 'H_Fair', 5: 'H_Poor'}, #94 dont know, 97 refused
'CATAG6_dic' : {1: 'A-12-17', 2: 'A-18-25', 3: 'A-26-34', 4: 'A-35-49', 5: 'A-50-64', 6: 'A-65'}
}

,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,ANALWT_C,AWTC10_C,VESTR,VEREP
CASEID,,,,,,,,,,,,,,,,,,,,,
1,33491257,1,99,99,16,9999,99,3,93,93,...,1,1,1,1,1,1,3256.12,3480.73,30049,2
2,65641783,1,99,99,13,9999,99,1,30,99,...,1,1,1,1,3,3,2032.25,2142.05,30004,1
3,27903567,2,4,4,991,9991,91,91,91,91,...,1,99,9,9,1,1,72.40,125.75,30007,1
4,95879407,1,99,99,14,9999,99,3,93,93,...,1,4,1,1,2,2,610.50,593.28,30040,1
5,15815660,1,99,99,12,9999,99,1,30,99,...,1,3,1,1,1,1,10155.12,10440.78,30011,1

In [128]:
demographics_2010 = drug_df_2010[['CASEID', 'CATAG6', 'HEALTH', 'IRSEX', 'IRMARIT', 'EDUCCAT2', 'NEWRACE2', 'EMPSTATY']]
demographics_2010.loc[:, "YEAR"] = np.repeat([2010], len(demographics_2010))

demographics_2011 = drug_df_2011[['CASEID','CATAG6', 'HEALTH', 'IRSEX', 'IRMARIT', 'EDUCCAT2', 'NEWRACE2', 'EMPSTATY']]
demographics_2011.loc[:, "YEAR"] = np.repeat([2011], len(demographics_2011))

demographics_2012 = drug_df_2012[['CASEID', 'CATAG6', 'HEALTH', 'IRSEX', 'IRMARIT', 'EDUCCAT2', 'NEWRACE2', 'EMPSTATY']]
demographics_2012.loc[:, "YEAR"] = np.repeat([2012], len(demographics_2012))

demographics_2013 = drug_df_2013[['CASEID', 'CATAG6', 'HEALTH', 'IRSEX', 'IRMARIT', 'EDUCCAT2', 'NEWRACE2', 'EMPSTATY']]
demographics_2013.loc[:, "YEAR"] = np.repeat([2013], len(demographics_2013))

demographics_2014 = drug_df_2014[['CASEID', 'CATAG6', 'HEALTH', 'IRSEX', 'IRMARIT', 'EDUCCAT2', 'NEWRACE2', 'EMPSTATY']]
demographics_2014.loc[:, "YEAR"] = np.repeat([2014], len(demographics_2014))

C:\Users\lanab\anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\lanab\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [129]:
demographics = pd.concat([demographics_2010, demographics_2011,demographics_2012,demographics_2013,demographics_2014])

In [130]:
demographics

,CASEID,CATAG6,HEALTH,IRSEX,IRMARIT,EDUCCAT2,NEWRACE2,EMPSTATY,YEAR
0,1,2,2,1,4,3,2,1,2010
1,2,2,1,2,1,3,1,1,2010
2,3,1,3,2,4,5,7,4,2010
3,4,2,4,2,4,1,1,4,2010
4,5,5,4,2,3,2,1,3,2010
...,...,...,...,...,...,...,...,...,...
55266,55267,2,2,2,4,2,1,1,2014
55267,55268,4,4,2,3,2,1,4,2014
55268,55269,4,1,1,1,4,1,1,2014
55269,55270,2,2,2,4,3,1,2,2014
55270,55271,6,4,1,1,1,7,1,2014

In [132]:
for col in demographics.columns:
    print(demographics[col].value_counts())

2049     5
20898    5
53426    5
32952    5
35001    5
        ..
57549    1
57563    1
57501    1
57405    1
57575    1
Name: CASEID, Length: 58397, dtype: int64
2    88084
1    86393
4    42069
3    30843
5    20945
6    13075
Name: CATAG6, dtype: int64
2     112267
1      77022
3      68855
4      19622
5       3585
94        46
97        12
Name: HEALTH, dtype: int64
2    146332
1    135077
Name: IRSEX, dtype: int64
4     143897
1      71325
99     41893
3      19147
2       5147
Name: IRMARIT, dtype: int64
5    86393
2    62131
3    57460
4    45633
1    29792
Name: EDUCCAT2, dtype: int64
1    171286
7     47696
2     35967
5     10885
6      9826
3      4303
4      1446
Name: NEWRACE2, dtype: int64
1     95605
4     75020
2     46610
99    41893
3     22281
Name: EMPSTATY, dtype: int64
2011    58397
2010    57313
2014    55271
2012    55268
2013    55160
Name: YEAR, dtype: int64

In [136]:
for col in demographics.columns:
    if (col != 'YEAR') & (col != 'CASEID'):
        demographics[col] = demographics[col].replace(demographics_dict[col+'_dic'])

In [135]:
fill_values_health = np.random.choice(demographics[(demographics['HEALTH'] != 94) & (demographics['HEALTH'] != 97)]['HEALTH'], 58)
fill_values_IRMARIT = np.random.choice(demographics[demographics['IRMARIT'] != 99]['IRMARIT'], 41893)
fill_values_EMPSTATY = np.random.choice(demographics[demographics['EMPSTATY'] != 99]['EMPSTATY'], 41893)

demographics.loc[(demographics['HEALTH'] == 94) | (demographics['HEALTH'] == 97), 'HEALTH'] = fill_values_health
demographics.loc[demographics['IRMARIT'] == 99, 'IRMARIT'] = fill_values_IRMARIT
demographics.loc[demographics['EMPSTATY'] == 99, 'EMPSTATY'] = fill_values_EMPSTATY

## Mental Health

In [137]:
#function to select mental health (and case id) variables, and rename if necessary
def get_variables(data):
    subset = data[['CASEID', 'AMHINP2', 'AMHOUTP3', 'AMHTXND2', 'AMHTXRC3', 
                   'SUICTHNK', 'SPDMON', 'SPDYR', 'MHSUITHK', 'MHSUIPLN', 
                   'MHSUITRY', 'WHODASC2', 'SMIYR_U', 'ADDPREV', 'AMDELT', 'AMDEYR']]
    renamed_subset = subset.rename(columns={'AMHINP2': 'inpatient', 'AMHOUTP3': 'outpatient', 
                                            'AMHTXND2': 'needed_not_rcvd', 'AMHTXRC3': 'rcvd_any_tmt', 
                                            'SUICTHNK': 'suic_thought_pst_12month', 'SPDMON': 'psych_distress_month', 
                                            'SPDYR': 'psych_distress_yr', 'MHSUITHK': 'suic_thought_pst_yr', 
                                            'MHSUIPLN': 'suic_plan', 'MHSUITRY': 'suic_attempt', 
                                            'WHODASC2': 'whodas_score', 'SMIYR_U': 'predicted_ment_ill', 
                                            'ADDPREV': 'svrl_days_depressed', 'AMDELT': 'lifetime_mde', 
                                            'AMDEYR': 'pst_yr_mde'})
    return renamed_subset

In [138]:
#selecting mental health subset from 2010 to 2014
mh_2010 = get_variables(drug_df_2010)
mh_2011 = get_variables(drug_df_2011)
mh_2012 = get_variables(drug_df_2012)
mh_2013 = get_variables(drug_df_2013)
mh_2014 = get_variables(drug_df_2014)

In [139]:
def clean_cols(original):
    cleaned = original.copy()
    
    def probabilistic_imputation(col, to_null):
        cleaned[col].replace(to_null, np.nan, inplace=True)
        num_null = cleaned[col].isna().sum()
        fill_values = np.random.choice(cleaned[col].dropna(), num_null)
        cleaned.loc[cleaned[col].isna(), col] = fill_values
            
    #AMHINP2/inpatient (categorical)
    probabilistic_imputation('inpatient', -9)
    
    #AMHOUTP3/outpatient (categorical)
    probabilistic_imputation('outpatient', -9)
    
    #AMHTXND2/needed_not_rcvd (categorical)
    probabilistic_imputation('needed_not_rcvd', -9)
    
    #AMHTXRC3/rcvd_any_tmt
    probabilistic_imputation('rcvd_any_tmt', -9)
    
    #SUICTHNK/suic_thought_pst_12month (categorical)
    probabilistic_imputation('suic_thought_pst_12month', [94, 97, 98, 99])
    
    #SPDMON/psych_distress_month (categorical)
    probabilistic_imputation('psych_distress_month', -9)
    
    #SPDYR/psych_distress_yr (categorical)
    probabilistic_imputation('psych_distress_yr', -9)
    
    #MHSUITHK/suic_thought_pst_yr (categorical)
    probabilistic_imputation('suic_thought_pst_yr', -9)
    
    #MHSUIPLN/suic_plan (categorical)
    probabilistic_imputation('suic_plan', -9)
    
    #MHSUITRY/suic_attempt (categorical)
    probabilistic_imputation('suic_attempt', -9)
    
    #WHODASC2/whodas_score (numerical)
    probabilistic_imputation('whodas_score', -9)
    
    #SMIYR_U/predicted_ment_ill (categorical)
    probabilistic_imputation('predicted_ment_ill', -9)
    
    #ADDPREV/svrl_days_depressed (categorical)
    probabilistic_imputation('svrl_days_depressed', [94, 97, 98, 99])
    
    #AMDELT/lifetime_mde (categorical)
    probabilistic_imputation('lifetime_mde', -9)
    
    #AMDEYR/pst_yr_mde (categorical)
    probabilistic_imputation('pst_yr_mde', -9)
    
    #making binary variables 0/1
    for col in ['inpatient', 'outpatient', 'needed_not_rcvd', 'rcvd_any_tmt', 
                'suic_thought_pst_12month', 'svrl_days_depressed', 
                'lifetime_mde', 'pst_yr_mde']:
        cleaned[col].replace({1:0, 2:1}, inplace=True)
    
    return cleaned

In [144]:
clean_mh_2010 = clean_cols(mh_2010)
clean_mh_2010.loc[:, "YEAR"] = np.repeat([2010], len(clean_mh_2010))

clean_mh_2011 = clean_cols(mh_2011)
clean_mh_2011.loc[:, "YEAR"] = np.repeat([2011], len(clean_mh_2011))

clean_mh_2012 = clean_cols(mh_2012)
clean_mh_2012.loc[:, "YEAR"] = np.repeat([2012], len(clean_mh_2012))

clean_mh_2013 = clean_cols(mh_2013)
clean_mh_2013.loc[:, "YEAR"] = np.repeat([2013], len(clean_mh_2013))

clean_mh_2014 = clean_cols(mh_2014)
clean_mh_2014.loc[:, "YEAR"] = np.repeat([2014], len(clean_mh_2014))

In [145]:
mental_health = pd.concat([clean_mh_2010, clean_mh_2011, clean_mh_2012, clean_mh_2013, clean_mh_2014])
mental_health.head()

,CASEID,inpatient,outpatient,needed_not_rcvd,rcvd_any_tmt,suic_thought_pst_12month,psych_distress_month,psych_distress_yr,suic_thought_pst_yr,suic_plan,suic_attempt,whodas_score,predicted_ment_ill,svrl_days_depressed,lifetime_mde,pst_yr_mde,YEAR
0,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2010
1,2,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,20.0,0.0,0.0,1.0,1.0,2010
2,3,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,1.0,0.0,2010
3,4,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,2010
4,5,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2010

## Religion

In [146]:
# nested dictionary for the values we will convert each column to 
religion_dict = {'SNRLGSVC':
             {1:'0',
              2:'1-2',
              3:'3-5',
              4:'6-24',
              5:'25-52',
              6:'52+'},

             'SNRLGIMP':
             {1:'Strongly Disagree',
              2:'Disagree',
              3:'Agree',
              4:'Strongly Agree'},

             'SNRLDCSN':
              {1:'Strongly Disagree',
              2:'Disagree',
              3:'Agree',
              4:'Strongly Agree'},

             'SNRLFRND':
             {1:'Strongly Disagree',
              2:'Disagree',
              3:'Agree',
              4:'Strongly Agree'}
            }

In [147]:
def endcode_col(df, col):
    '''
    Encodes the column values of the dataframe to more readable description.
    
    param df: DataFrame
    param col: Column name
    return: None
    '''
    temp_dict = religion_dict[col]
    df[col] = df[col].apply(lambda value: temp_dict[value] if value != 99 else '99')

In [148]:
def convert_religion_cols(df):
    '''
    Converts the religion columns into a more readable description and return a new DataFrame.
    
    param df: DataFrame
    return: DataFrame with only religious columns
    '''
    religion_cols = ['SNRLGSVC','SNRLGIMP','SNRLDCSN','SNRLFRND'] # columns related to religion
    religion_df = df[religion_cols] # creating new df with only religion_cols 

    # converting bad/missing data to one value
    religion_df = religion_df.applymap(lambda x : 99 if x <= 99 and x >= 85 else x)
    
    # converting relgion column values 
    for col in religion_df.columns:
        endcode_col(religion_df, col)
        
    return religion_df.reset_index()

In [157]:
caseid_2010 = drug_df_2010["CASEID"]
caseid_2011 = drug_df_2011["CASEID"]
caseid_2012 = drug_df_2012["CASEID"]
caseid_2013 = drug_df_2013["CASEID"]
caseid_2014 = drug_df_2014["CASEID"]

In [158]:
religion_2010 = convert_religion_cols(drug_df_2010)
religion_2010.loc[:, "YEAR"] = np.repeat([2010], len(religion_2010))
religion_2010["CASEID"] = caseid_2010

religion_2011 = convert_religion_cols(drug_df_2011)
religion_2011.loc[:, "YEAR"] = np.repeat([2011], len(religion_2011))
religion_2011["CASEID"] = caseid_2011

religion_2012 = convert_religion_cols(drug_df_2012)
religion_2012.loc[:, "YEAR"] = np.repeat([2012], len(religion_2012))
religion_2012["CASEID"] = caseid_2012

religion_2013 = convert_religion_cols(drug_df_2013)
religion_2013.loc[:, "YEAR"] = np.repeat([2013], len(religion_2013))
religion_2013["CASEID"] = caseid_2013

religion_2014 = convert_religion_cols(drug_df_2014)
religion_2014.loc[:, "YEAR"] = np.repeat([2014], len(religion_2014))
religion_2014["CASEID"] = caseid_2014

In [159]:
religion = pd.concat([religion_2010, religion_2011,religion_2012,religion_2013,religion_2014])
religion

,index,SNRLGSVC,SNRLGIMP,SNRLDCSN,SNRLFRND,YEAR,CASEID
0,0,6-24,Agree,Agree,Agree,2010,1
1,1,3-5,Disagree,Disagree,Strongly Disagree,2010,2
2,2,99,99,99,99,2010,3
3,3,1-2,Agree,Agree,Disagree,2010,4
4,4,6-24,Strongly Agree,Strongly Agree,Agree,2010,5
...,...,...,...,...,...,...,...
55266,55266,25-52,Strongly Agree,Agree,Disagree,2014,55267
55267,55267,3-5,Strongly Disagree,Agree,Disagree,2014,55268
55268,55268,25-52,Strongly Agree,Strongly Agree,Disagree,2014,55269
55269,55269,6-24,Agree,Agree,Strongly Disagree,2014,55270
55270,55270,6-24,Strongly Agree,Strongly Agree,Strongly Agree,2014,55271

## MERGING

In [161]:
cleaned_df1 = pd.merge(religion, drug, on= ["CASEID", "YEAR"])
cleaned_df2 =  pd.merge(mental_health, demographics, on= ["CASEID", "YEAR"])
cleaned_df3 = pd.merge(cleaned_df1, crime, on= ["CASEID", "YEAR"])
final_df = pd.merge(cleaned_df3, cleaned_df2, on= ["CASEID", "YEAR"])

In [162]:
final_df

,index,SNRLGSVC,SNRLGIMP,SNRLDCSN,SNRLFRND,YEAR,CASEID,Tabacco_Flag,Alcohol_Flag,Marijunana_Flag,...,svrl_days_depressed,lifetime_mde,pst_yr_mde,CATAG6,HEALTH,IRSEX,IRMARIT,EDUCCAT2,NEWRACE2,EMPSTATY
0,0,6-24,Agree,Agree,Agree,2010,1,1,1,1,...,1.0,1.0,1.0,A-18-25,H_Very_good,Male,Not_Married,Some_college,Black/Afr_Am,E_full_time
1,1,3-5,Disagree,Disagree,Strongly Disagree,2010,2,1,1,1,...,0.0,1.0,1.0,A-18-25,H_Excellent,Female,Married,Some_college,White,E_full_time
2,2,99,99,99,99,2010,3,0,1,1,...,0.0,1.0,0.0,A-12-17,H_Good,Female,Not_Married,Edu_youth,Hispanic,E_Other
3,3,1-2,Agree,Agree,Disagree,2010,4,1,1,0,...,0.0,0.0,1.0,A-18-25,H_Fair,Female,Not_Married,Less_than_high_school,White,E_Other
4,4,6-24,Strongly Agree,Strongly Agree,Agree,2010,5,1,0,0,...,1.0,1.0,1.0,A-50-64,H_Fair,Female,Divorced_Separated,High_school_graduate,White,E_Unemployed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280320,55266,25-52,Strongly Agree,Agree,Disagree,2014,55267,1,1,0,...,1.0,1.0,1.0,A-18-25,H_Very_good,Female,Not_Married,High_school_graduate,White,E_full_time
280321,55267,3-5,Strongly Disagree,Agree,Disagree,2014,55268,0,0,0,...,0.0,0.0,0.0,A-35-49,H_Fair,Female,Divorced_Separated,High_school_graduate,White,E_Other
280322,55268,25-52,Strongly Agree,Strongly Agree,Disagree,2014,55269,1,1,1,...,1.0,1.0,1.0,A-35-49,H_Excellent,Male,Married,College_graduate,White,E_full_time
280323,55269,6-24,Agree,Agree,Strongly Disagree,2014,55270,0,0,0,...,0.0,0.0,0.0,A-18-25,H_Very_good,Female,Not_Married,Some_college,White,E_part_time
280324,55270,6-24,Strongly Agree,Strongly Agree,Strongly Agree,2014,55271,1,1,1,...,0.0,1.0,1.0,A-65,H_Fair,Male,Married,Less_than_high_school,Hispanic,E_full_time

In [163]:
final_df.to_csv('merged_col.csv')